.tools_panel{
	position: fixed;
	background-color: #942984;
	color: #FFFFFF;
	overflow:auto;
	height: auto;
	width: 250px;
	height: 100%;
	margin-left: 0px;
}
.preview_board{
	margin-left: 175px;
}

.form_tool{
	margin-left: 15px;
}
.h1_tool{
	margin-left: 10px;
	font-family: Rockwell, Helvetica, Arial, sans-serif;
	font-size: 30px;
}
.h1_esp{
	margin-left: 10px;
	font-family: Rockwell, Helvetica, Arial, sans-serif;
	font-size: 30px;
	line-height: 25px;
}

.h4_tool{
	margin-left: 5px;
	font-family: Rockwell, Helvetica, Arial, sans-serif;
}
.p_carrusel{
	margin-left: 20px;
}
.body_cont{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
.c_b{
	margin-left: 20px;
}

      			#wrapper {
				background-color: #fff;
				width: 100%;
				height: 300px;
				/*margin-top: -225px;*/
				overflow: hidden;
				position: absolute;
				/*top: 50%;*/
				left: 0;
			}
			#carousel img {
				display: block;
				float: left;
			}
			#prev, #next {
				background-color: rgba(255, 255, 255, 1);
				display: block;
				height: 450px;
				width: 50%;
				top: 0;
				position: absolute;
			}
			#prev {
				left: -495px;
			}
			#next {
				right: -495px;
			}
			#pager {
				margin-left: -70px;
				position: absolute;
				left: 50%;
				top: 280px;
			}
			#pager a {
				border: 2px solid #fff;
				border-radius: 10px;
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 0 5px 0 0;
			}
			#pager a:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
			#pager a span {
				display: none;
			}
			#pager a.selected {
				background-color: #fff;
			}

.btn-save{
	margin-top: 25px;
	margin-left: 10px;
}
/*boton*/
.btn-blue_kichink {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #3EBBF1;
	*background-color: #3EBBF1;
	background-image: -moz-linear-gradient(top, #3EBBF1, #3EBBF1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3EBBF1), to(#3EBBF1));
	background-image: -webkit-linear-gradient(top, #3EBBF1, #3EBBF1);
	background-image: -o-linear-gradient(top, #3EBBF1, #3EBBF1);
	background-image: linear-gradient(to bottom, #3EBBF1, #3EBBF1);
	background-repeat: repeat-x;
	border-color: #3EBBF1;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3EBBF1', endColorstr='#3EBBF1', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-blue_kichink:hover,
.btn-blue_kichink:active,
.btn-blue_kichink.active,
.btn-blue_kichink.disabled,
.btn-blue_kichink[disabled] {
	color: #FFFFFF;
	background-color: #3EBBF1;
	*background-color: #003bb3;
}